{
  "semi": true,
  "singleQuote": true,
  "insertPragma": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "crlf",
  "parser": "babel",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [{
    "files": "*.{less,css}",
    "options": {
        "parser": "css"
    }
  }]
}